body{

}

.form-container{
    background_color: grey;
    margin:0 auto;
    width:1200px;
    height:800px;
}

#img{
    position:absolute;
    top:70px;
    left:550px;
    z-index:1;
}

.words{
    font-size:16px;
    position:absolute;
    z-index:10;
    font-family: "Lucida Console", "Courier New", monospace;
}

.words select{
    width:130px;
    height:25px;
    border-radius: 5px;
}

#factory_system{
    top:15px;
    left:500px;
}

#price{
    top:510px;
    left:650px;
}

#phone_OS{
    top:10px;
    left:750px;
}

#phone_resolution{
    top:50px;
    left:750px;
}

#phone_rear_camera{
    top:160px;
    left:230px;
}

#PRC_line{
    position:absolute;
    z-index:11;
    top:150px;
    left:510px;
}

#PRC_line img{
    width:132px;
    height:40px;
}

#phone_battery_capacity{
    top:300px;
    left:200px;
}

#PBC_line{
    position:absolute;
    z-index:11;
    top:290px;
    left:510px;
}

#PBC_line img{
    width:200px;
    height:40px;
}

#phone_screen{
    top:340px;
    left:980px;
}

#PS_line{
    width:220px;
    position:absolute;
    z-index:11;
    top:330px;
    left:800px;
}

#PS_line img{
    width:220px;
    height:40px;
}

#phone_front_camera{
    top:105px;
    left:985px;
}

#PFC_line{
    width:210px;
    position:absolute;
    z-index:11;
    top:95px;
    left:820px;
}

#PFC_line img{
    width:210px;
    height:40px;
}

#phone_frequency{
    top:550px;
    left:610px;
}

#phone_kernel_num{
    top:590px;
    left:605px;
}

#phone_RAM_capacity{
    top:630px;
    left:560px;
}

#phone_ROM_capacity{
    top:670px;
    left:575px;
}

#submit{
    top:705px;
    left:700px;
}

#submit input[type="submit"]{
    background-color:grey
    font-color: white;
    border-radius: 15px;
    width: 105px;
    height: 45px;
    font-style: bold;
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
}