<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div id="demo"></div>
</head>
<body>
    <script type="text/javascript">
            var x=document.getElementById("demo");
            getLocation();
            function getLocation()
            {
              if (navigator.geolocation)
                {
                navigator.geolocation.getCurrentPosition(showPosition);
                }
              else{x.innerHTML="Geolocation is not supported by this browser.";}
            }
            function showPosition(position)
            {
                var lng = position.coords.longitude;
                var lat = position.coords.latitude;
                var site = lat.toFixed(6)+','+lng.toFixed(6);
                console.log(site)
                document.getElementById("demo").innerHTML = site;
            }


    </script>
    function initialize() {
         function success(position) {
            var latitude  = position.coords.latitude;
            var longitude = position.coords.longitude;
            var yourmap = {
                center:new google.maps.LatLng(latitude  ,longitude),
                zoom:11,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            };
            var map=new google.maps.Map(document.getElementById("googleMap"), yourmap);
            var marker=new google.maps.Marker({
                position:new google.maps.LatLng(latitude  ,longitude),
            });
            marker.setMap(map);
            var infowindow = new google.maps.InfoWindow({
                content:"我在这里!"
            });
            infowindow.open(map,marker);
        };
        function error() {
            alert('地理位置不可用');
        };
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(success, error);
        }else{
            alert('地理位置不可用');
        }
    };

</body>
</html>